<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SneakMax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="site_container">
      <header class="header">
        <div class="container header_container grid">
          <div class="header_left">
            <a href="" class="logo">SneakMax</a>
          </div>
          <div class="header_right">
            <nav class="nav header_nav">
              <ul class="nav_list list_reset">
                <li class="nav_item"><a href="" class="nav_link">Каталог</a></li>
                <li class="nav_item"><a href="" class="nav_link">О нас</a></li>
                <li class="nav_item"><a href="" class="nav_link">Подбор товара</a></li>
                <li class="nav_item"><a href="" class="nav_link">Наша команда</a></li>
                <li class="nav_item"><a href="" class="nav_link">Доставка и оплата</a></li>
                <li class="nav_item"><a href="" class="nav_link">Контакты</a></li>
              </ul>
            </nav>
            <div class="header_cart">
              <a href="" class="cart_link"><img src="static/images/Vector.svg"></a>      
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <section class="hero">
          <span class="hero_bg-text">SneakMax</span>
          <div class="container hero_container">
            <h1 class="hero_title">Кроссовки известных брендов с доставкой по России и СНГ</h1>
            <p class="hero_text">Мы продаём кроссовки брендов Nike, Adidas, Puma, Reebok, Converse и многое другое по низким ценам</p>
            <button class="hero_button">Перейти к покупкам</button>
          </div>
        </section>
        <section class="catalog">
          <div class="container catalog_container">
            <h2 class="catalog_title">Каталог</h2>
            <div class="catalog_content grid">
              <div class="catalog_left">
                <div class="catalog_fitter">
                  <h3 class="catalog_subtitle intro-book">Подбор</h3>
                  <h3 class="catalog_subtitle intro-book">по параметрам</h3>
                  <div class="catalog_prop">
                    <p class="catalog_caption intro-book">Цена, Руб</p>
                    <form class="price_form">
                      <input placeholder="18000" class="input_price intro-book"></input>
                      <div class="divider"></div>
                      <input placeholder="20000" class="input_price intro-book"></input>
                        <input type="range" class="slider" min="0" max="30000" value="1850">
                        <input type="range" class="slider" min="0" max="30000" value="25768">
                    </form>
                  </div>
                  <div class="catalog_prop">
                    <p class="catalog_caption intro-book">Пол</p>
                    <div class="catalog_checkbox">
                      <input type="checkbox" id="male" class="male gender intro-book">
                      <input type="checkbox" id="female" class="female gender intro-book">
                    </div>
                  </div>
                  <div class="catalog_prop">
                    <p class="catalog_caption intro-book">Размер</p>
                    <div class="sizes-container intro-book">
                      <div class="grid-item">35</div>
                      <div class="grid-item">36</div>
                      <div class="grid-item">37</div>
                      <div class="grid-item">38</div>
                      <div class="grid-item">39</div>
                      <div class="grid-item">40</div>
                      <div class="grid-item">41</div>
                      <div class="grid-item">42</div>
                      <div class="grid-item">43</div>
                    </div>
                  </div>
                  <div class="catalog_buttons">
                    <button class="submit intro-regular">Применить</button>
                    <button class="reset intro-regular">Сбросить</button>
                  </div>
                </div>
              </div>
              <div class="catalog_right">
                {% for sneaker in sneakers %}
                <div class="catalog_card">
                  <img src="{{ sneaker.image_path }}" alt="{{ sneaker.name }}">
                  <p class="catalog_text intro-book">{{ sneaker.name }}</p>
                  <p class="caralog_cost intro-regular">{{ sneaker.cost }} ₽</p>
                </div>
                {% endfor %}
                <button class="button-more intro-regular">Показать ещё</button>
              </div>
            </div>
          </div>
        </section>
        <section class="about">
          <div class="container about_container">
            <div class="about_text">
              <h2 class="about_title">Пара слов о нас</h2>
              <p class="about_descr">
                <q class="about_quote">Спорт держит нас в форме. Учит дисциплине. Объединяет нас. Через спорт мы можем менять жизни. В том числе с помощью воодушевляющих историй спортсменов. Чтобы помочь тебе подняться и двигаться вперед.</q>
                <cite class="about_author">- SneakMax</cite>
              </p>
            </div>
            <div class="about_image">
              <img src="static/images/dc7767b3abbc602e319bc768a28b83253dd826bc.jpg">
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="script.js"></script>
  </body>
</html>
