@font-face {
	font-family: 'Intro-Book';
	src: url('/static/fonts/intro-book.eot'); /* IE 9 Compatibility Mode */
	src: url('/static/fonts/intro-book.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/static/fonts/intro-book.woff2') format('woff2'), /* Super Modern Browsers */
		url('/static/fonts/intro-book.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/static/fonts/intro-book.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/static/fonts/intro-book.svg#intro-book') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Intro-Regular';
	src: url('/static/fonts/intro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('/static/fonts/intro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/static/fonts/intro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/static/fonts/intro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/static/fonts/intro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/static/fonts/intro-regular.svg#intro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}


@keyframes softSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


.intro-book {
    font-family: 'Intro-Book', sans-serif;
}

.intro-regular {
    font-family: 'Intro-Regular', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.header{
    position: fixed;
    background-color: #484283;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header_container{
    position: relative;
    padding: 20px 15px 20px 15px;
}

.header_container::before{
    position: absolute;
    content: "";
    bottom: 0;
    height: 1px;
    background-color: white;
    width: 100%;
}

.header_left{
    grid-column-start: span 2;
    grid-column-end: auto;
}

.header_right{
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
}

.logo{
    color: #ecf0f1;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav_list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_link{
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav_link:hover{
    color: #3498db;
}

.header_cart{
    position: relative;
    margin-left: 40px;
}

.cart_link{
    color: #ecf0f1;
    text-decoration: none;
}

.hero{
    background-color: #484283;
    color: #ecf0f1;
    padding: 130px 0;
    position: relative;
    height: 530px;
}

.hero_bg-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    opacity: 0.1;
    font-weight: bold;
    z-index: 10;
    margin-top: 70px;
    margin-left: 50px;
    line-height: 200px;
    color: white;
}

.hero_title{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 15px;
    max-width: 50%;
}

.hero_text{
    font-size: 18px;
    margin: 0;
    color: white;
    max-width: calc(50%-100px);
    margin-bottom: 40px;
}

.hero_button{
    background-color: #db3434;
    color: #ecf0f1;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero_button:hover{
    background-color: #b92929;
}

.hero_container{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.catalog{
    padding: 80px 0;
}

.catalog_container {
    display: flex;
    flex-direction: column;;
}




.catalog_title{
    font-size: 30px;
    margin: 0 0 40px 0;
    color: #2c3e50;
}

.catalog_content{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.catalog_left{
    background-color: #FFF4EE;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    grid-column: 3 span;
    margin-right: auto;
    width: 380px;
}

.catalog_subitle{
    font-size: 24px;
    margin: 0 0 20px 0;
}

.catalog_caption{
    font-size: 16px;
}

.catalog_checkbox{
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}



.gender {
  display: flex;
  align-items: center;  
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #DBBBA9;
  border-radius: 6px;  
  outline: none;
  cursor: pointer;
  background: #FFF4EE;
}


.gender:checked {
  background-color: #FFF4EE; 
  background-image: url("/static/images/Group.svg");
  background-size: 20px;       
  background-position: center; 
  background-repeat: no-repeat;
}

.female {
    margin-right: 40px;
}


.male::after {
    content: "мужской";
    margin-left: 25px;
    font-size: 16px;
}

.female::after {
    content: "женский";
    margin-left: 25px;
    font-size: 16px;
}


.sizes-container {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    column-gap: 25px;
    row-gap: 0;
}


.grid-item {
    border: 1px solid #DBBBA9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
}


.catalog_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit, .reset{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px 0 0;
    height: 60px;
    width: 300px;
    font-size: 16px;
}

.submit{
    background-color: #3d515e;
    color: #ecf0f1;
}

.reset{
    background-color: #FFF4EE;
    color: #333;
}

.catalog_right{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  flex: 1;
  min-width: 0;
}

.catalog_card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.catalog_card:hover{
    transform: translateY(-5px);
}

.catalog_card img{
    width: 290px;
    height: 370px;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

.catalog_card p {
    text-align: left;
}

.catalog_text{
    font-size: 16px;
}

.catalog_cost {
    font-size: 20px;
}

.catalog_right button{
    grid-column: 1 / -1;
    justify-self: center;      
    width: fit-content; 
    width: 200px;
    height: 60px;
    background-color: #db3434;
    color: #ecf0f1;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.price_form {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 60px;
    width: 100%;
    border: #ccc solid 1px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider {
  margin-top: 55px;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #444B58;
  border-radius: 2px;
  outline: none;
  -webkit-appearance: none;
  pointer-events: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 20px;
  background: #444B58;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: auto;
}

.slider::-moz-range-thumb {
  width: 4px;
  height: 20px;
  background: #444B58;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  pointer-events: auto;
}


.input_price {
    background: #FFF4EE;
    text-align: center;
    outline: none;
    border: none;
    width: 100px;
    font-size: 18px;

}

.divider {
    width: 1px;
    height: 30px;
    background: #ccc;
    margin: 0 15px;
}

.about{
    position: relative;
    overflow: hidden;
    height: 580px;
    background-color: #484283;
}

.about_figure{
    position: absolute;
    left: 0;
    top: 0;
}

.about_container{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.about_text{
    width: 34%;
    transform: translateY(70px);
}

.about_title{
    margin-bottom: 20px;
    color: white;
}

.about_descr{
    font: var(--middle-book);
    color: white;
}

.about_quote{
    display: inline-block;
    margin-bottom: 20px;
    font: inherit;
}

.about_author{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: var(--prehigh-regular);
    font-style: normal;
    transform: translateX(50px);
}

.about_author::before{
    content: "";
    display: inline-block;
    margin-right: 20px;
    width: 30px;
    height: 3px;
    background-color: white;
}

.about_image{
    position: absolute;
    right: 100px;
    top: -150px;
    flex-shrink: 0;
    overflow: hidden;
    width: 500px;
    height: 950px;
    background-color: red;
    transform: rotate(15deg);
}

.about_image img{
    position: absolute;
    left: 50%;
    top: 0;
    width: 200%;
    height: 100%;
    max-width: none;
    -o-object-fit: cover;
    object-fit: cover;
    transform: rotate(-15deg) translateX(-50%);
}

.team{
    position: relative;
    padding: 60px 0;
    background-color: #484283;
}

.team_figure{
    position: absolute;
    right: 0;
    top: 0;
}

.team_title{
    color: white;
}

.team_list{
    position: relative;
    z-index: 5;
    row-gap: 40px;
    column-gap: 20px;
    list-style: none;
}

.team_item{
    grid-column: 4 span;
}

.team_img{
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 380px;
    height: 400px;
}

.team_subtitle{
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: white;
}

.team_post{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
}

.faq{
    padding: 60px;
}

.faq_title{
    margin-bottom: 40px;
    margin-left: 138px;
}

.faq_list{
    margin: 0 auto;
    max-width: 880px;
    list-style: none;
}

.faq-accordion{
    list-style: none;
}

.faq-accordion_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #444b58;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-top: 1px solid #444B58;
}

.faq-accordion_control:not(:first-child){
    border-bottom: 1px solid #444B58;
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.faq-accordion_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/static/images/cross.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
}

.faq-accordion_content {
    overflow: hidden;
    padding-right: 70px;
    padding-bottom: 0;
    max-height: 0;
    box-sizing: content-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(36, 36, 36, 0.5);
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: max-height; 
}

.accordion_control {
    width: 100%;
    background-color: transparent;
    cursor: pointer; 
}

.open .faq-accordion_icon {
    transform: rotate(45deg); 
}

.open .faq-accordion_content {
    padding-bottom: 18px;
    opacity: 1; 
}

.footer {
    padding: 28px 0;
    background-color: #444b58;
    height: 80px;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    align-self: center;
}

.contacts{
    padding: 60px 0;
    background-color: #f3f6f6;
}

.contacts_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts_text {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
}

.contacts_title {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.contacts_item {
    margin-bottom: 40px;
    font-style: normal;
}

.contacts_subtitle {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #b2b5bb;
}

.tooltip {
    position: relative;
    margin-left: 10px;
}

.tooltip_btn {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #444b58;
    cursor: default;
}

.tooltip_txt {
    position: absolute;
    left: -10px;
    bottom: calc(100% + 14px);
    z-index: 3;
    border-radius: 4px;
    padding: 10px 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 426px;
    box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: initial;
    color: #444b58;
    background: white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip:hover .tooltip_txt {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.tooltip::after{
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: white transparent transparent transparent;
    border-radius: 4px;
    width: 0;
    height: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.contacts_phone {
    display: inline-block;
    margin-bottom: 10px;
    outline: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #444b58;
    transition: color 0.3s ease-in-out;
}

.social {
    display: flex;
    list-style: none;
}

.social_item:not(:last-child) {
    margin-right: 20px;
}

.social__link {
    display: block;
    outline: none;
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
}

.contacts_map {
    width: 100%;
}

.instagram {
    padding: 60px;
}

.instagram_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.instagram_left {
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 4px;
    width: 380px;
    background-color: #484283;
}

.callback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.instagram_title {
    margin-bottom: 20px;
    color: white;
}

.instagram_descr {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 260px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: white;
}

.form-label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    border: none;
    border-radius: 4px;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #444b58;
    background-color: white;
}

.instagram_input {
    margin-bottom: 10px;
}

.btn-primary {
    color: white;
    background-color: #f14f4f;
}

.instagram_btn {
    width: 100%;
}

.instagram_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - (380px + 10px));
}

.instagram_link {
    display: inline-block;
    margin-bottom: 20px;
}

.instagram_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 160px);
    gap: 15px;
}

.instagram_item {
    overflow: hidden;
    border-radius: 4px;
}

.instagram_item a{
    display: block;
    width: 100%;
    height: 100%;
}

.instagram_item img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; 
}

.instagram_item:nth-child(3) {
    grid-column: 2 span;
    grid-row: 2 span;
}
.instagram_item:nth-child(2) {
    grid-row: 2; 
}

.quiz {
    background-color:#FFF4EE;
    padding-top: 50px;
    padding-bottom: 50px;
}

.first_container-header {
  width: 1550px;
  box-sizing: border-box;
  text-align: left;
}

.quiz-description {
    margin-top: 20px;
}

.first-header {
    color: #444B58;
}

.quiz-description {
    color: #808080;
}


.quiz-header,
.quiz-description,
.quiz-question {
  text-align: left;
}

.step {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #FFF4EE;

}

.step.active {
  display: flex;
  animation: softSlideUp 0.4s ease-out forwards;
}

.quiz_card-container {
  margin-top: 25px; 
  width: 1550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 100px;
}


.quiz_card {
    width: 100%;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #C4C4C4;
}

.quiz-question::before {
  content: '';
  display: block;
  height: 1px;
  background: #808080;
  margin-bottom: 20px;
  margin-top: 10px;
}

.quiz-checkbox {
  display: flex;
  align-items: center;  
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #DBBBA9;
  border-radius: 6px;  
  outline: none;
  cursor: pointer;
  background: #FFF4EE;
}


.quiz-checkbox:checked {
  background-color: #FFF4EE; 
  background-image: url("/static/images/Group.svg");
  background-size: 20px;       
  background-position: center; 
  background-repeat: no-repeat;
}


.checkbox-container {
    margin-top: 15px;
    display: flex;
    left: 0;
    align-items: center;
}

.checkbox-container span {
    margin-left: 5px;
}


.first_quiz-footer {
    width: 1550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first_quiz-footer::before { 
  width: 1550px; 
  content: '';
  display: block;
  height: 1px;
  background: #808080;
  margin-bottom: 20px;
  margin-top: 40px; 
}

.first_button {
    width: 340px;
    height: 60px;
}


.quiz_button {
    border: 1px solid #444B58;
    border-radius: 5px;
    background-color: #FFF4EE;
}

.quiz_card-item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}

.quiz-question {
    color: #444B58;
}


.second-header {
    color: #444B58;
    width: 1066px;
}

.second_quiz-description {
    color: #808080;
    margin-top: 20px;
}

.second_quiz-question {
    color: #444B58;
}


.quiz-picture {
    margin-top: 25px;
}

.second_quiz-question::before {
  content: '';
  display: block;
  height: 1px;
  background: #808080;
  margin-bottom: 20px;
  margin-top: 10px;
}

.second_button {
    width: 230px;
    height: 60px;
}

.quiz_sizes-container {
    width: 1066px;
}

.second_quiz-footer {
    width: 1066px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second_quiz-footer::before { 
  width: 1066px; 
  content: '';
  display: block;
  height: 1px;
  background: #808080;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sizes-checkbox {
  margin-top: 40px;  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
}

.size-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.container-third.step.active {
    justify-content: center;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    width: 655px;
    height: 390px;
    position: relative;
    background-color: #DBBBA9;
    align-items: flex-start;
    padding: 40px 230px 40px 40px;
    box-sizing: border-box;
}

.form-container form {
    justify-content: center;
}


.form-header {
    margin: 0 !important;
    color: #FFFFFF;
}

.form-desc {
    margin: 0 !important;
    color: #FFFFFF;
}

.send-input {
    width: 500px;
    height: 60px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-indent: 30px;
    font-size: 16px;
    color: #B2B5BB;
}

.send-button {
    margin-top: 20px;
    width: 220px;
    height: 60px;
    background-color: #F14F4F;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 16px;
}

.form-container::after {
    content: "";
    background-image: url('/static/images/iPhone 11 Pro.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 205px;
    height: 411px;
    position: absolute;
    right: -150px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.third_container-header p{
    color: #DBBBA9;
}


.third_container-header::after {
  content: '';
  display: block;
  height: 1px;
  background: #DBBBA9;
  margin-bottom: 20px;
  margin-top: 10px;
}

.third-header {
    color: #444B58;
}

.pages {
    color: #808080;
}